@font-face {
    font-family: 'norsebold';
    src: url('norse-bold-webfont.woff2') format('woff2'),
         url('norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: 'norsebold', sans-serif;
}

body {
    margin: 0;
    height: 100vh;
}

.background {
    position: fixed;
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: 150vh;
    width: 40vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.logo img {
    height: 10vh;
}

.logo {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 25vh;
    padding: 22px 0;
}

.logo h1 {
    font-size: 4rem;
    color: white;
    margin: 0;
}