@font-face {
    font-family: 'norsebold';
    src: url('norse-bold-webfont.woff2') format('woff2'),
         url('norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: 'norsebold', sans-serif;
}

body {
    margin: 0;
    height: 100vh;
}

.background {
    position: fixed;
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: 150vh;
    width: 40vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo img {
    height: 10vh;
}

.logo {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 25vh;
    padding: 22px 0;
}

.logo h1 {
    font-size: 4rem;
    color: white;
    margin: 0;
}

.credit {
    font-size: 0.8rem;
    text-align: center;
    margin-bottom: -9px;
}

.credit,
.credit a {
    color: white;
}

.container {
    margin-left: 40vw;
}

.paragraph {
    padding: 50px 30px;
    color: rgb(73, 73, 73);
    font-weight: bold;
    font-size: 1.3rem;
}

.center {
    background-color: whitesmoke;
    padding: 10px 30px 30px;
    box-shadow: 0 3px 5px 0 rgb(212, 212, 212);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.center h2 {
    width: 100%;
    margin-bottom: 0;
    color: rgb(73, 73, 73);
}

.input {
    display: flex;
    flex-direction: column;
    width: 25vw;
}

.input label {
    font-size: 0.87rem;
    color: rgb(83, 83, 83);
    margin-bottom: 5px;
}

.input input {
    border: 1px solid rgb(204, 204, 204);
    height: 28px;
    font-size: 1.4rem;
    border-radius: 5px;
}

.input input:focus {
    outline: 1px solid blue;
    box-shadow: 0 0 5px 0 grey;
}

.input input:invalid {
    border: 1px solid red;
}

.wrapper {
    padding: 30px 30px 0 30px;
}

.wrapper button {
    font-size: 2rem;
    padding: 10px 30px;
    background-color: rgb(93, 175, 93);
    color: white;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 5px 0 grey;
}

.login {
    padding: 0 30px;
    color:rgb(73, 73, 73);
}

.login a {
    color:rgb(93, 175, 93);
    text-decoration: none;
}